@model AccountingViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div id="app">
    <div>
        <h2>{{ card.name }}</h2>
        <div class="row mt-4">
            <table class="table">
                <thead class="thead-light">
                <tr class="text-center">
                    <th scope="col">Order</th>
                    <th scope="col">Date</th>
                    <th scope="col" colspan="2">Details</th>
                    <th scope="col">Price</th>
                    <th scope="col">Card</th>
                </tr>
                </thead>
                <tbody>
                    <tr v-for="detail in details" class="align-middle text-center">
                        <td>{{ detail.order }}</td>
                        <td>{{ detail.date }}</td>
                        <td colspan="2" class="text-left">{{ detail.info }}</td>
                        <td>{{ detail.price }}</td>
                        <td>{{ detail.card.name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



@section Scripts
{
    <script src="https://unpkg.com/vue@next"></script>

    <script>
    
    const app = Vue.createApp({
        data(){
            return {
                card: @Json.Serialize(Model.Cards[0]),
                details: @Json.Serialize(Model.Details),
            }
        }
    });
    app.mount('#app');
    
    </script>
}
