@model AccountingViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div id="app">
    <div>
        {{ card.name }}
    </div>
</div>

@section Scripts
{
    <script>
    
    const app = Vue.createApp({
        data(){
            return {
                card: @Json.Serialize(Model.Cards[0]),
            }
        }
    });
    app.mount('#app');
    
    </script>
}
