# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AccountingCards.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\anthea.wu15\Documents\AspNetCore_learning\AccountingCards\.idea\.idea.AccountingCards\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
